<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formssi.workflow.mapper.DcwsApproveMapper">

    <resultMap type="com.formssi.workflow.domain.vo.DcwsApproveVo" id="DcwsApproveVoResult">
        <result property="taskId" column="task_Id"/>
        <result property="taskName" column="task_Name"/>
        <result property="userId" column="user_Id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <delete id="deleteByTaskId">
        delete from dcws_nonstandard_approve where task_id = #{taskId}
    </delete>

    <update id="updateByTaskId">
        UPDATE dcws_nonstandard_approve set status=#{status},user_Id=#{userId},update_time = CURRENT_TIMESTAMP
        WHERE task_id = #{taskId}
    </update>

    <select id="getTaskWaitByPage" resultMap="DcwsApproveVoResult">
        select *
        from (SELECT RES.task_Id,RES.task_Name,RES.status,RES.create_time,AHP.user_Id
        FROM dcws_nonstandard_approve RES
        INNER JOIN dcws_nonstandard_approve_user AHP ON RES.task_id = AHP.task_id
        ORDER BY RES.create_time DESC) t ${ew.getCustomSqlSegment}
    </select>

    <select id="getTaskFinishByPage" resultMap="DcwsApproveVoResult">
        select *
        from (SELECT distinct RES.task_Id,RES.task_Name,RES.status,RES.create_time,AHP.user_Id
        FROM dcws_nonstandard_approve RES
        INNER JOIN dcws_nonstandard_approve_his AHP ON RES.task_id = AHP.task_id
        where AHP.update_time is not null
        ORDER BY RES.create_time DESC) t ${ew.getCustomSqlSegment}
    </select>

</mapper>
