<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formssi.system.mapper.SysUserMapper">

    <resultMap type="com.formssi.system.domain.vo.SysUserVo" id="SysUserResult">
        <id property="userId" column="user_id"/>
    </resultMap>
    <resultMap type="com.formssi.system.domain.vo.SysUserExportVo" id="SysUserExportResult">
        <id property="userId" column="user_id"/>
    </resultMap>

    <select id="selectPageUserList" resultMap="SysUserResult">
        select
        <if test="ew.getSqlSelect != null">
            ${ew.getSqlSelect}
        </if>
        <if test="ew.getSqlSelect == null">
            u.user_id, u.dept_id, u.nick_name, u.user_name, u.email, u.avatar, u.phonenumber, u.sex,
            u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark,
            u.emp_no,u.asset_user_id
        </if>
        from sys_user u
        ${ew.getCustomSqlSegment}
    </select>


    <select id="selectAllUserList" resultType="com.formssi.system.domain.vo.HrUserVo">
        select
            u.user_id,
            u.emp_no,
            u.dept_id,
            u.nick_name,
            u.user_name,
            u.email,
            u.phonenumber,
            u.sex,
            u.status,
            u.del_flag
        from sys_user u
        where user_type = 'hr_user'
    </select>

    <select id="selectUserDeptList" resultType="com.formssi.system.domain.vo.HrUserVo">
        select a.*,b.dept_name from (
            select
                u.user_id,
                u.emp_no,
                u.nick_name,
                u.user_name,
                u.email,
                u.phonenumber,
                u.sex,
                u.status,
                u.del_flag,
                CASE
                when (LENGTH(d.ancestors) - LENGTH(REPLACE(d.ancestors, ',', ''))) = 2 then u.dept_id
                else SUBSTRING_INDEX(SUBSTRING_INDEX(d.ancestors, ',', 4), ',', -1)
                END as dept_id
            from sys_user u
            left join sys_dept d on u.dept_id = d.dept_id
            where user_type = 'hr_user'
            and LENGTH(d.ancestors) - LENGTH(REPLACE(d.ancestors, ',', '')) >= 2
        )a
        left join sys_dept b on a.dept_id = b.dept_id
    </select>


    <update id="deleteByIdFromHr" parameterType="java.util.List">
        update sys_user set del_flag = '1'
        WHERE user_id in(
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <update id="updateUserFromHr" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE sys_user
            SET
                emp_no = #{item.empNo},
                dept_id = #{item.deptId},
                user_name = #{item.userName},
                nick_name = #{item.nickName},
                email = #{item.email},
                phonenumber = #{item.phonenumber},
                create_time = #{item.createTime},
                sex = #{item.sex},
                del_flag = '0'
            WHERE user_id = #{item.userId}
        </foreach>
    </update>

    <update id="updateUserInfo" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE sys_user
            SET asset_user_id = #{item.assetUserId}
            WHERE user_id = #{item.userId}
        </foreach>
    </update>


    <insert id="insertUserFromHr" parameterType="java.util.List" >
        INSERT INTO sys_user (
            user_id,
            emp_no,
            dept_id,
            user_name,
            nick_name,
            email,
            phonenumber,
            sex,
            create_time,
            password,
            user_type
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.empNo},
            #{item.deptId},
            #{item.userName},
            #{item.nickName},
            #{item.email},
            #{item.phonenumber},
            #{item.sex},
            #{item.createTime},
            #{item.password},
            #{item.userType}
            )
        </foreach>
    </insert>

    <insert id="insertUserRoleFromHr">
        INSERT INTO sys_user_role (user_id, role_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{roleId}
            )
        </foreach>
    </insert>

    <delete id="deleteUserRoleFromHr" parameterType="java.util.List">
        delete from sys_user_role where
        user_id in(
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )

    </delete>

    <select id="selectUserList" resultMap="SysUserResult">
        select
        <if test="ew.getSqlSelect != null">
            ${ew.getSqlSelect}
        </if>
        <if test="ew.getSqlSelect == null">
            u.user_id, u.dept_id, u.nick_name, u.user_name, u.email, u.avatar, u.phonenumber, u.sex,
            u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark,
            u.emp_no,u.asset_user_id
        </if>
        from sys_user u
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectUserExportList" resultMap="SysUserExportResult">
        select u.user_id, u.dept_id, u.nick_name, u.user_name, u.email, u.avatar, u.phonenumber, u.sex,
            u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark,
            d.dept_name, d.leader, u1.user_name as leaderName
        from sys_user u
            left join sys_dept d on u.dept_id = d.dept_id
            left join sys_user u1 on u1.user_id = d.leader
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectAllocatedList" resultMap="SysUserResult">
        select distinct u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.phonenumber, u.status, u.create_time
        from sys_user u
             left join sys_dept d on u.dept_id = d.dept_id
             left join sys_user_role sur on u.user_id = sur.user_id
             left join sys_role r on r.role_id = sur.role_id
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectUnallocatedList" resultMap="SysUserResult">
        select distinct u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.phonenumber, u.status, u.create_time
        from sys_user u
             left join sys_dept d on u.dept_id = d.dept_id
             left join sys_user_role sur on u.user_id = sur.user_id
             left join sys_role r on r.role_id = sur.role_id
        ${ew.getCustomSqlSegment}
    </select>

    <select id="countUserById" resultType="Long">
        select count(*) from sys_user where del_flag = '0' and user_id = #{userId}
    </select>


</mapper>
